body {
    background: #eee;
    /*font-family: "Open Sans Condensed", serif;*/
    font-family: 'Pontano Sans', sans-serif;
    font-size: 20px;
    color: #333;
}
small {
    font-size: 16px;
    color: #2853a9;
    font-weight: bolder;
    padding: 0 2px;
    text-transform: uppercase;
}
h1 {
	font-size: 40px;
    font-weight: bold;
    color: #3c7dff;
    padding: 20px 20px 0 20px;
	margin-top: 30px;
    border-top: 0px ridge #fff;
    text-align: center;
    line-height: 36px;
}
h2 {
	font-size: 40px;
    font-weight: bold;
    color: #3c7dff;
    padding: 20px 20px 0 20px;
	margin-top: 30px;
    border-top: 0px ridge #fff;
    text-align: center;
    line-height: 36px;
}
h3 {
	font-size: 24px;
	color: #ff5d3c;
	margin: -10px 0 30px 0;
	text-align: center;
}
h4 {
    font-size: 18px;
	color: #3c7dff;
	margin: -10px 0 30px 0;
	text-align: center;
}
h5 {
    font-size: 18px;
	color: #9b3025;
	margin: -10px 0 30px 0;
	text-align: center;
}
.rwd-line1, .rwd-line2 {
    display: block;
}
@media screen and (min-width: 550px) {
    .rwd-line2 { display: inline; }
}
@media screen and (min-width: 320px) {
    .rwd-line1 { display: inline; }
}
.orbitron { font-family: 'Orbitron', sans-serif; }
.bold { font-weight: bold; }
.red { color: #ff5d3c; }
.red-dark { color: #9b3025; }
.blue { color: #3c7dff; }
.blue-crisp { color: #c9d4e9; }
.black { color: #000; }
.white { color: #fff; }
.orange-crisp { color: #fb6a3d; }
.center-crisp { text-align: center; }
.s10 { font-size: 14px !important; }
.s15 { font-size: 15px !important; }
.s18 { font-size: 18px !important; }
.s20 { font-size: 20px !important; }
.s25 { font-size: 25px !important; }
.s30 { font-size: 30px !important; }
.s50 { font-size: 50px !important; }

.header-main {
	background: #111;
    color: #fff;
    text-align: center;
    padding: 35px 0;
    line-height: 44px;
    margin-bottom: 20px;
}
.logo {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}
.logo-sub {
    font-weight: bold;
    font-size: 18px;
    color: #fb6a3d;
    line-height: 26px;
    margin-top: 12px;
}
header-row {
	text-align: center;
}
table {
    border-collapse: separate;
    border-spacing: 0 6px;
    padding-bottom: 20px;
	line-height: 24px;
	color: #666;
	text-align: justify;
}
table b {
	color: #000;
}
.bullet {
    padding: 2px 5px 0 0px;
}
.words {
    line-height: 20px;
}
.table-glyph {
    font-size: 13px;
    padding-right: 5px;
    color: #ff5d3c;
}

.blurbs {
	text-align: justify;
	font-size: 23px;
}
.img-float {
	float: right;
	margin: -40px -40px 0;
}

.list {
	margin-bottom: 0px;
}

.callout {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    border-left: 6px solid #ff5d3c;
    padding: 30px;
    text-align: justify;
    margin: 30px 0 30px 0;
    line-height: 20px;
    box-shadow: 4px 4px 10px #d0d0d0;
    -moz-box-shadow: 4px 4px 10px ##d0d0d0;
	-webkit-box-shadow: 4px 4px 10px ##d0d0d0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#efefef')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#efefef');
}

